.button {
    background-color: #283e3e;
    border: none;
    color: white;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    
  }
  
  .botonInicial {
    margin-top: 15px;
    margin-left: 50rem;
    background-color: #283e3e;
    border: none;
    color: white;
    width: 170px;
    height: 43px;
    text-decoration: none;
    display: inline-block;
  }

 .arriba{
     margin-top: 30px;
     display: flex;
 } 

 .logo{
    margin-left: 80px;
  }
  
  input{
      height: 30px;
      min-height: 20%;
      min-width: 50%
  }
  
  .container{
      width: 50%;
      margin-left: 10rem;
      margin-top: 100px;
  }
  
  .cuerpo{
      margin-top: 50px;
  }
  
  
  .footer{
      display: flex;
  }
  
  .fintxt{
      margin: auto;
      word-spacing: 30px;
      margin-top: 40px;
  }
  
  .final{
      text-align: center;
  }
  
  .logo{
	background-color: black;
	color: white;
	margin-right: 10px;
}