
.button {
    background-color: #283e3e;
    border: none;
    color: white;
    padding: 12px 70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.btn {
    margin-top: 15px;
    margin-left: 50rem;
    background-color: #283e3e;
    border: none;
    color: white;
    width: 170px;
    height: 43px;
    text-decoration: none;
    display: inline-block;
  }

 .arriba{
    margin-top: 30px;
    display: flex;
 } 

 img{
     width: 310px;
     height: 200px;
 }

 .logo{
    width: 250px;
    height: 80px;
   margin-left: 180px;
 }
  
input{
    height: 30px;
    min-height: 20%;
    min-width: 20%
}
  
.texto1{
    text-align: center;
}
  
.container{
    margin-top: 50px;
}

.cuadritos{
    display: flex;
}

.first{
    width: 20%;
    margin-left: 500px;
}

.cartas{
    display: flex;
    margin-right: 130px;
}

.card{
    margin-left: auto;
}

card-link{
    color: red;
}

.contenido{
    display: flex;
    margin-left: 100px;
}

.contenido2{
    display: flex;
    margin-left: 100px;
}

.inside2{
    margin-left: 100px;
}

.inside2{
    display: grid;
}

.tablas{
    display: flex;
}

.enunciado{
    display: flex;
    margin-left: 100px;
}


.derecha1{
    margin-right: 200px;
}
   
.footer{
    display: flex;
}
  
.fintxt{
    margin: auto;
    word-spacing: 30px;
    margin-top: 40px;
}
  
.final{
      text-align: center;
}
  

.logo{
	background-color: black;
	color: white;
	margin-right: 10px;
}


